html {
	background-color: #242933;
}

body {
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color:#acbae1;
	padding-top:0,75cm;
	padding-right:1cm;
	padding-left:1cm;
	padding-bottom:1cm;
	width: 200px;
	height:600;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	background-color: #2f3644
}

h2 {
	font-size: 18px;
	color: #acbae1;
	font-family: "Century Gothic";
}

p{
	font-size: 12px;
	color: #acbae1;
	font-family: "Century Gothic";
}

input:valid,
textarea:valid {
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color:green;
}

input:invalid,
textarea:invalid{
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color:red;	
}

 .boton{
	font-size:12px;
	font-weight:bold;
	color: white;
	font-family: "Century Gothic";
	background:#6c63ff;
	border:2px;
	border-color: white;
	width:200px;
	height:50px;
}

input{
	border:2px;
	width:195px;
	height:25px;
}